@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

:root {
  --text: #333;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  --sans: 'Gowun Dodum', 'Noto Serif KR', system-ui, sans-serif;
  --heading: 'Gowun Dodum', 'Noto Serif KR', system-ui, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/1.6 var(--sans);
  letter-spacing: 0.02em;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif KR', serif;
  margin: 0;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading);
  font-weight: 600;
  color: var(--text-h);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}